In [11]:
#first panda
import pandas as pd
import numpy as np
a=np.array([11,99,303,44,55,6])
b=np.array([1,2,3,4,5,6])
c=a+b
d=np.array(["Abi","Bala","Coulins","Dinesh","Elger","Ganesh"])
#print(a)
#print(b)
#print(c)
#print(d)
convert_to_excel_format = {"Name":d, "A":a, "B":b, "C":c}
#print(convert_to_excel_format)
new = pd.DataFrame(convert_to_excel_format)
print(new)

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306
3   Dinesh   44  4   48
4    Elger   55  5   60
5   Ganesh    6  6   12

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306

     Name   A  B   C
4   Elger  55  5  60
5  Ganesh   6  6  12

                A         B           C
count    6.000000  6.000000    6.000000
mean    86.333333  3.500000   89.833333
std    111.361873  1.870829  111.003453
min      6.000000  1.000000   12.000000
25%     19.250000  2.250000   21.000000
50%     49.500000  3.500000   54.000000
75%     88.000000  4.750000   90.750000
max    303.000000  6.000000  306.000000

Index(['Name', 'A', 'B', 'C'], dtype='object')

In [13]:
#export to excel and csv
import pandas as pd
import numpy as np
a=np.array([11,99,303,44,55,7])
b=np.array([1,2,3,4,5,7])
c=a+b
d=np.array(["Abi","Bala","Coulins","Dinesh","Elger","Ganesh"])
convert_to_excel_format = {"Name":d, "A":a, "B":b, "C":c}
new = pd.DataFrame(convert_to_excel_format)
print(new)
new.to_excel("Data.xlsx",index=False)
new.to_csv("Data_in_csv.csv",index=True)
new.to_json("Data_in_json.json")

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306
3   Dinesh   44  4   48
4    Elger   55  5   60
5   Ganesh    7  7   14

In [1]:
#first panda
import pandas as pd
import numpy as np
a=np.array([11,99,303,44,55,6])
b=np.array([1,2,3,4,5,6])
c=a+b
d=np.array(["Abi","Bala","Coulins","Dinesh","Elger","Ganesh"])
convert_to_excel_format = {"Name":d, "A":a, "B":b, "C":c}
#print(convert_to_excel_format)
new = pd.DataFrame(convert_to_excel_format)
print(new)
print('')
print(new.head(3))
print('')
print(new.tail(2))
print('')
print(new.describe())
print('')
print(new.columns)

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306
3   Dinesh   44  4   48
4    Elger   55  5   60
5   Ganesh    6  6   12

      Name    A  B    C
0      Abi   11  1   12
1     Bala   99  2  101
2  Coulins  303  3  306

     Name   A  B   C
4   Elger  55  5  60
5  Ganesh   6  6  12

                A         B           C
count    6.000000  6.000000    6.000000
mean    86.333333  3.500000   89.833333
std    111.361873  1.870829  111.003453
min      6.000000  1.000000   12.000000
25%     19.250000  2.250000   21.000000
50%     49.500000  3.500000   54.000000
75%     88.000000  4.750000   90.750000
max    303.000000  6.000000  306.000000

Index(['Name', 'A', 'B', 'C'], dtype='object')

In [ ]:
#Task for excel and csv
import pandas as pd
import numpy as np
salary = np.array([101000, 100000, 102000, 101000, 100000,  101000,  100000, 100000, 101000,  100000,  101000, 100000,])
LOP =  np.array([2000, 3000, 3000,  3000,  3000,  4000, 4000,  4000,  2000,  1000,  11000,  2000])
allowance = np.array([20000, 30000, 30000, 30000, 30000  ,9000,  4000,  9000,  9000,  1000,  11000,  20000])
print('Checking size for all 3',salary.size,LOP.size,allowance.size)
Total_salary = salary - LOP + allowance
print('')
print('Total take home',Total_salary)
ctpf = {"Salary":salary, "Loss_of_Pay":LOP, "Allowance":allowance, "Take_Home":Total_salary}
new_value = pd.DataFrame(ctpf)
print(new_value)

Checking size for all 3 12 12 12

Total take home [119000 127000 129000 128000 127000 106000 100000 105000 108000 100000
 101000 118000]
    Salary  Loss_of_Pay  Allowance  Take_Home
0   101000         2000      20000     119000
1   100000         3000      30000     127000
2   102000         3000      30000     129000
3   101000         3000      30000     128000
4   100000         3000      30000     127000
5   101000         4000       9000     106000
6   100000         4000       4000     100000
7   100000         4000       9000     105000
8   101000         2000       9000     108000
9   100000         1000       1000     100000
10  101000        11000      11000     101000
11  100000         2000      20000     118000

In [ ]:
new_value.to_excel("Output_in_excel.xlsx",index=False)
new_value.to_csv("Output_in_csv.csv",index=False)

In [ ]:
import numpy as np
import pandas as pd
Income_for_year = np.array([112000,102000,132000,102700,172000,102000,102070,112040,102000,172050,152000,102500])
print('Original Salary',Income_for_year)
print('')
percent_increase = Income_for_year * 10/100
Increased_salary = Income_for_year + percent_increase
print('Increased_salary',Increased_salary)
to_format = {"Original Salary":Income_for_year, "Ten_percent_salary":Increased_salary}
output_value = pd.DataFrame(to_format)
print(output_value)
output_value.to_excel("new_salary.xlsx",index=False)
output_value.to_csv("new_salary_csv.csv",index=False)

Original Salary [112000 102000 132000 102700 172000 102000 102070 112040 102000 172050
 152000 102500]

Increased_salary [123200. 112200. 145200. 112970. 189200. 112200. 112277. 123244. 112200.
 189255. 167200. 112750.]
    Original Salary  Ten_percent_salary
0            112000            123200.0
1            102000            112200.0
2            132000            145200.0
3            102700            112970.0
4            172000            189200.0
5            102000            112200.0
6            102070            112277.0
7            112040            123244.0
8            102000            112200.0
9            172050            189255.0
10           152000            167200.0
11           102500            112750.0

In [ ]:
import pandas as pd
r_csv = pd.read_excel("bank_data.xlsx")
print(r_csv)

    Customer_ID  Bank_Balance Debit_Card Credit_Card  Credit     Loan    EMI  \
0             1         69801        Yes         Yes   65790   948813  10924
1             2          4828         No         Yes   53785  8576948  11902
2             3          9525        Yes         Yes   70181  2068622  29153
3             4         21483         No         Yes   59994  4718471  13425
4             5         78228         No         Yes   99926  3237922  48807
..          ...           ...        ...         ...     ...      ...    ...
95           96         30957        Yes         Yes   13341  7703427  20153
96           97         82488         No          No   79555  3964877  48279
97           98         93377        Yes         Yes     291  7163364  21766
98           99         40403         No         Yes   43922   353217  39873
99          100         89592         No          No   93465  6375749  30179

    Mutual_Fund Insurance  Insurance_Premium  Star_Rating  Feedback  \
0       9697043        No              18283            3         7
1       3113455        No              26225            2         7
2       8652289        No              44694            1         5
3       8951720        No              32079            4         8
4       6492869        No              35416            4         9
..          ...       ...                ...          ...       ...
95      7414201        No               3210            4        10
96      1569355       Yes              42492            3         2
97      3855392        No               6047            1         6
98      2029219        No              49172            4         2
99      8511015        No              28987            2         3

    Cibil_Score Parking
0             1     Yes
1             9     Yes
2             5     Yes
3             5      No
4            10     Yes
..          ...     ...
95           10     Yes
96            6     Yes
97            4     Yes
98            2     Yes
99            4     Yes

[100 rows x 14 columns]

In [ ]:
import pandas as pd
excel_read = pd.read_excel("Nuclearpower_generation_data.xlsx")
print(excel_read)

     PowerSource      GenerationDate  GenerationAmount         Country  \
0    Natural Gas 2020-06-07 03:32:26               708       Australia
1        Nuclear 2020-05-22 23:50:16               702       Australia
2    Natural Gas 2020-04-01 04:10:20               944           China
3    Natural Gas 2021-11-18 14:49:24               974           Italy
4          Solar 2020-07-02 03:52:46               565       Australia
..           ...                 ...               ...             ...
995      Nuclear 2020-10-21 23:12:58               418           Italy
996         Wind 2020-11-20 23:50:17               264           Italy
997  Natural Gas 2021-02-06 00:58:29               232           India
998  Natural Gas 2020-06-02 23:01:42               420         Germany
999      Nuclear 2021-03-05 20:46:52               873  United Kingdom

      Emissions
0    181.626522
1    715.025691
2    517.018766
3    694.111304
4    637.206138
..          ...
995  551.273232
996  696.039804
997  948.525242
998  996.959045
999  918.850758

[1000 rows x 5 columns]

In [ ]:
import pandas as pd
df = pd.read_excel("sales11.xlsx")
print(df)

     StoreID      StoreSize    Parking  ClosingTime  Month  CustomerID  \
0       1309  Valueformoney   Spacious           20      6         313
1       1305        Branded  Available           22      3         315
2       1315        Premium  Available           23      1         301
3       1316  Factoryoutlet  Available           21      4         310
4       1313        Branded  Available           20      6         319
..       ...            ...        ...          ...    ...         ...
995     1307        Economy  Available           23     10         315
996     1306        Branded   Spacious           21      6         308
997     1316        Economy  Available           20      6         319
998     1300           Sale  Available           22      1         306
999     1307         Retail   Spacious           20      8         305

     ProductID  UnitPrice  Quantity CompetitorPrice          Supply  \
0        66.72        677        25             Low         Surplus
1        21.77        666        47           Equal  StockAvailable
2        50.22        489        49           Equal         Surplus
3        45.33        307         6            High        LowStock
4        99.14        729        38             Low         Surplus
..         ...        ...       ...             ...             ...
995      14.25        467        59           Equal        LowStock
996      52.23        468        98           Equal  StockAvailable
997      46.02        567        49           Equal  StockAvailable
998       0.49         65        78           Equal        LowStock
999       6.24        833        19            High         Surplus

     Profit_percentage  Advertisementstar PaymentType  Employee  Feedbackstar
0                   10                  5         EMI       50+             4
1                   10                  4  CreditCard      100+             1
2                   25                  3        Cash  below_50             1
3                   10                  3  CreditCard  below_50             2
4                   10                  3   DebitCard      100+             2
..                 ...                ...         ...       ...           ...
995                 10                  1  CreditCard      100+             1
996                 25                  5         EMI      100+             5
997                 10                  3  CreditCard  below_50             5
998                 10                  3         EMI  below_50             3
999                 20                  3         UPI      100+             4

[1000 rows x 16 columns]

In [ ]:
import pandas as pd
rf = pd.read_excel("bank_data.xlsx")
print(rf)
a1 = rf.info()
a2 = rf.size
a3 = rf.shape
print('Size',a2)
print('Shape',a3)

    Customer_ID  Bank_Balance Debit_Card Credit_Card  Credit     Loan    EMI  \
0             1         69801        Yes         Yes   65790   948813  10924
1             2          4828         No         Yes   53785  8576948  11902
2             3          9525        Yes         Yes   70181  2068622  29153
3             4         21483         No         Yes   59994  4718471  13425
4             5         78228         No         Yes   99926  3237922  48807
..          ...           ...        ...         ...     ...      ...    ...
95           96         30957        Yes         Yes   13341  7703427  20153
96           97         82488         No          No   79555  3964877  48279
97           98         93377        Yes         Yes     291  7163364  21766
98           99         40403         No         Yes   43922   353217  39873
99          100         89592         No          No   93465  6375749  30179

    Mutual_Fund Insurance  Insurance_Premium  Star_Rating  Feedback  \
0       9697043        No              18283            3         7
1       3113455        No              26225            2         7
2       8652289        No              44694            1         5
3       8951720        No              32079            4         8
4       6492869        No              35416            4         9
..          ...       ...                ...          ...       ...
95      7414201        No               3210            4        10
96      1569355       Yes              42492            3         2
97      3855392        No               6047            1         6
98      2029219        No              49172            4         2
99      8511015        No              28987            2         3

    Cibil_Score Parking
0             1     Yes
1             9     Yes
2             5     Yes
3             5      No
4            10     Yes
..          ...     ...
95           10     Yes
96            6     Yes
97            4     Yes
98            2     Yes
99            4     Yes

[100 rows x 14 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        100 non-null    int64
 1   Bank_Balance       100 non-null    int64
 2   Debit_Card         100 non-null    object
 3   Credit_Card        100 non-null    object
 4   Credit             100 non-null    int64
 5   Loan               100 non-null    int64
 6   EMI                100 non-null    int64
 7   Mutual_Fund        100 non-null    int64
 8   Insurance          100 non-null    object
 9   Insurance_Premium  100 non-null    int64
 10  Star_Rating        100 non-null    int64
 11  Feedback           100 non-null    int64
 12  Cibil_Score        100 non-null    int64
 13  Parking            100 non-null    object
dtypes: int64(10), object(4)
memory usage: 11.1+ KB
Size 1400
Shape (100, 14)

In [ ]:
import pandas as pd
read_file_from_loc = pd.read_excel("mark.xlsx")
read_file_from_loc.info()
print(read_file_from_loc.size)
print(read_file_from_loc.shape)
print(read_file_from_loc)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    15 non-null     object
 1   Math    15 non-null     int64
 2   Phy     15 non-null     int64
 3   Che     15 non-null     int64
 4   Eng     15 non-null     int64
 5   Bio     15 non-null     int64
 6   Tamil   15 non-null     int64
dtypes: int64(6), object(1)
memory usage: 972.0+ bytes
105
(15, 7)
      Name  Math  Phy  Che  Eng  Bio  Tamil
0     Manu    72   72   72   72   30     72
1     Arun    30   30   60   30   30     60
2     Arun    52   52   60   80   52     60
3     Arun    52   52   72   52   30     80
4     Arun    60   60   80   52   91     60
5     Arun    80   80   52   52   72     30
6     Arun    80   80   60   80   72     52
7     Arun    52   52   80   72   72     52
8   Sanjay    72   72   52   72   60     72
9   Sanjay    72   72   72   72   52     52
10  Sanjay    52   52   80   80   52     60
11    Arun    60   60   72   72   60     80
12    Manu    60   60   30   52   52     60
13    Arun    91   91   52   80   91     72
14    Manu    91   91   91   80   60     52

In [ ]:
import pandas as pd
read_file_from_loc = pd.read_excel("mark.xlsx")
maths_mark = read_file_from_loc[["Name","Math"]]
print(maths_mark)
maths_mark.to_excel("Maths.xlsx",index=False)

      Name  Math
0     Manu    72
1     Arun    30
2     Arun    52
3     Arun    52
4     Arun    60
5     Arun    80
6     Arun    80
7     Arun    52
8   Sanjay    72
9   Sanjay    72
10  Sanjay    52
11    Arun    60
12    Manu    60
13    Arun    91
14    Manu    91

In [ ]:
import pandas as pd
physics_mark = read_file_from_loc[["Name","Phy"]]
print(physics_mark)
physics_mark.to_csv("Physics.csv",index=False)

      Name  Phy
0     Manu   72
1     Arun   30
2     Arun   52
3     Arun   52
4     Arun   60
5     Arun   80
6     Arun   80
7     Arun   52
8   Sanjay   72
9   Sanjay   72
10  Sanjay   52
11    Arun   60
12    Manu   60
13    Arun   91
14    Manu   91

In [ ]:
import pandas as pd
Chemistry_mark = read_file_from_loc[["Name","Che"]]
print(Chemistry_mark)
Chemistry_mark.to_excel("Chemistry.xlsx",index=False)

      Name  Che
0     Manu   72
1     Arun   60
2     Arun   60
3     Arun   72
4     Arun   80
5     Arun   52
6     Arun   60
7     Arun   80
8   Sanjay   52
9   Sanjay   72
10  Sanjay   80
11    Arun   72
12    Manu   30
13    Arun   52
14    Manu   91

In [ ]:
import pandas as pd
Bio_Eng = read_file_from_loc[["Name","Bio","Eng"]]
print(Bio_Eng)
Bio_Eng.to_excel("BioEng.xlsx",index=False)

      Name  Bio  Eng
0     Manu   30   72
1     Arun   30   30
2     Arun   52   80
3     Arun   30   52
4     Arun   91   52
5     Arun   72   52
6     Arun   72   80
7     Arun   72   72
8   Sanjay   60   72
9   Sanjay   52   72
10  Sanjay   52   80
11    Arun   60   72
12    Manu   52   52
13    Arun   91   80
14    Manu   60   80

In [ ]:
import pandas as pd
indexed_data = read_file_from_loc.loc[[0,1]]
print(indexed_data)

   Name  Math  Phy  Che  Eng  Bio  Tamil
0  Manu    72   72   72   72   30     72
1  Arun    30   30   60   30   30     60

In [ ]:
import pandas as pd
try_index = read_file_from_loc.loc[[10,9,2,3]]
print(try_index)

      Name  Math  Phy  Che  Eng  Bio  Tamil
10  Sanjay    52   52   80   80   52     60
9   Sanjay    72   72   72   72   52     52
2     Arun    52   52   60   80   52     60
3     Arun    52   52   72   52   30     80

In [ ]:
import pandas as pd
slice_try = read_file_from_loc.iloc[0:7]
print(slice_try)
print("-----------------------------------")
print(read_file_from_loc.iloc[11:])

   Name  Math  Phy  Che  Eng  Bio  Tamil
0  Manu    72   72   72   72   30     72
1  Arun    30   30   60   30   30     60
2  Arun    52   52   60   80   52     60
3  Arun    52   52   72   52   30     80
4  Arun    60   60   80   52   91     60
5  Arun    80   80   52   52   72     30
6  Arun    80   80   60   80   72     52
-----------------------------------
    Name  Math  Phy  Che  Eng  Bio  Tamil
11  Arun    60   60   72   72   60     80
12  Manu    60   60   30   52   52     60
13  Arun    91   91   52   80   91     72
14  Manu    91   91   91   80   60     52

In [ ]:
import pandas as pd
read_file_from_loc = pd.read_excel("mark.xlsx")
sort_try = read_file_from_loc.sort_values(by=["Math"])
sort_tamil = read_file_from_loc.sort_values(by="Tamil")
print(sort_tamil)

      Name  Math  Phy  Che  Eng  Bio  Tamil
5     Arun    80   80   52   52   72     30
6     Arun    80   80   60   80   72     52
7     Arun    52   52   80   72   72     52
9   Sanjay    72   72   72   72   52     52
14    Manu    91   91   91   80   60     52
4     Arun    60   60   80   52   91     60
2     Arun    52   52   60   80   52     60
1     Arun    30   30   60   30   30     60
12    Manu    60   60   30   52   52     60
10  Sanjay    52   52   80   80   52     60
13    Arun    91   91   52   80   91     72
0     Manu    72   72   72   72   30     72
8   Sanjay    72   72   52   72   60     72
3     Arun    52   52   72   52   30     80
11    Arun    60   60   72   72   60     80

In [ ]:
import pandas as pd
desc_try = read_file_from_loc.sort_values(by="Math",ascending=False)
print(desc_try)

      Name  Math  Phy  Che  Eng  Bio  Tamil
13    Arun    91   91   52   80   91     72
14    Manu    91   91   91   80   60     52
6     Arun    80   80   60   80   72     52
5     Arun    80   80   52   52   72     30
8   Sanjay    72   72   52   72   60     72
9   Sanjay    72   72   72   72   52     52
0     Manu    72   72   72   72   30     72
12    Manu    60   60   30   52   52     60
11    Arun    60   60   72   72   60     80
4     Arun    60   60   80   52   91     60
2     Arun    52   52   60   80   52     60
10  Sanjay    52   52   80   80   52     60
3     Arun    52   52   72   52   30     80
7     Arun    52   52   80   72   72     52
1     Arun    30   30   60   30   30     60

In [ ]:
import pandas as pd
replace_try = read_file_from_loc.replace(60,90)
print(replace_try)

      Name  Math  Phy  Che  Eng  Bio  Tamil
0     Manu    72   72   72   72   30     72
1     Arun    30   30   90   30   30     90
2     Arun    52   52   90   80   52     90
3     Arun    52   52   72   52   30     80
4     Arun    90   90   80   52   91     90
5     Arun    80   80   52   52   72     30
6     Arun    80   80   90   80   72     52
7     Arun    52   52   80   72   72     52
8   Sanjay    72   72   52   72   90     72
9   Sanjay    72   72   72   72   52     52
10  Sanjay    52   52   80   80   52     90
11    Arun    90   90   72   72   90     80
12    Manu    90   90   30   52   52     90
13    Arun    91   91   52   80   91     72
14    Manu    91   91   91   80   90     52

In [ ]:
#Math operations in pandas
import pandas as pd
df1 = read_file_from_loc[["Math","Phy","Che","Eng","Bio","Tamil"]]
max_mark = df1.max()
min_mark = df1.min()
sum_mark = df1.sum()
mean_mark = df1.mean()
print(max_mark)
print("-------------")
print(min_mark)
print("--------------")
print(sum_mark)
print("---------------")
print(mean_mark)

Math     91
Phy      91
Che      91
Eng      80
Bio      91
Tamil    80
dtype: int64
-------------
Math     30
Phy      30
Che      30
Eng      30
Bio      30
Tamil    30
dtype: int64
--------------
Math     976
Phy      976
Che      985
Eng      998
Bio      876
Tamil    914
dtype: int64
---------------
Math     65.066667
Phy      65.066667
Che      65.666667
Eng      66.533333
Bio      58.400000
Tamil    60.933333
dtype: float64

In [ ]:
import pandas as pd
bodybuild = pd.read_excel("bodybuilding_data.xlsx")
print(bodybuild)

     IndividualID  Age  Gender  Weight  Height  BodyFatPercentage  MuscleMass  \
0               1   44    Male     132     164           9.679860          53
1               2   20    Male     102     165          28.565655          72
2               3   54    Male      75     154          12.139280          48
3               4   51  Female      62     195          26.679585          71
4               5   42    Male      61     164          28.996843          65
..            ...  ...     ...     ...     ...                ...         ...
995           996   31  Female     134     181          24.639250          91
996           997   24  Female     126     184          23.386787          38
997           998   21  Female     148     154          26.058425          38
998           999   33    Male     130     157           6.267984          77
999          1000   56  Female      79     176          10.100161          95

    TrainingFrequency TrainingIntensity DietaryHabits SupplementsUsage  \
0               Daily               Low  High Protein               No
1              Weekly              High  High Protein              Yes
2               Daily               Low          Keto               No
3              Weekly               Low      Balanced               No
4              Weekly               Low      Low Carb              Yes
..                ...               ...           ...              ...
995             Daily              High          Keto              Yes
996            Weekly               Low          Keto              Yes
997           Monthly          Moderate  High Protein              Yes
998           Monthly              High  High Protein              Yes
999           Monthly          Moderate          Keto               No

     TrainingExperience CompetitionParticipation
0                     5                      Yes
1                    10                       No
2                    11                       No
3                     9                       No
4                    10                       No
..                  ...                      ...
995                   3                       No
996                   6                       No
997                  13                       No
998                  13                      Yes
999                   1                      Yes

[1000 rows x 13 columns]

In [ ]:
import pandas as pd
dataset1 = bodybuild[["Age","Weight","Height","MuscleMass","TrainingExperience"]]
print(dataset1)

     Age  Weight  Height  MuscleMass  TrainingExperience
0     44     132     164          53                   5
1     20     102     165          72                  10
2     54      75     154          48                  11
3     51      62     195          71                   9
4     42      61     164          65                  10
..   ...     ...     ...         ...                 ...
995   31     134     181          91                   3
996   24     126     184          38                   6
997   21     148     154          38                  13
998   33     130     157          77                  13
999   56      79     176          95                   1

[1000 rows x 5 columns]

In [ ]:
import pandas as pd
dataset1 = bodybuild[["Age","Weight","Height","MuscleMass","TrainingExperience"]]
print(dataset1.max())
print("--------------------")
print(dataset1.min())
print("--------------------")
print(dataset1.sum())
print("--------------------")
print(dataset1.mean())

Age                    59
Weight                149
Height                199
MuscleMass             99
TrainingExperience     14
dtype: int64
--------------------
Age                    18
Weight                 50
Height                150
MuscleMass             30
TrainingExperience      1
dtype: int64
--------------------
Age                    38188
Weight                 99274
Height                174738
MuscleMass             64724
TrainingExperience      7526
dtype: int64
--------------------
Age                    38.188
Weight                 99.274
Height                174.738
MuscleMass             64.724
TrainingExperience      7.526
dtype: float64

In [ ]:
import pandas as pd
read_marks = pd.read_excel("mark.xlsx")
print(read_marks)

      Name  Math  Phy  Che  Eng  Bio  Tamil
0     Manu    72   72   72   72   30     72
1     Arun    30   30   60   30   30     60
2     Arun    52   52   60   80   52     60
3     Arun    52   52   72   52   30     80
4     Arun    60   60   80   52   91     60
5     Arun    80   80   52   52   72     30
6     Arun    80   80   60   80   72     52
7     Arun    52   52   80   72   72     52
8   Sanjay    72   72   52   72   60     72
9   Sanjay    72   72   72   72   52     52
10  Sanjay    52   52   80   80   52     60
11    Arun    60   60   72   72   60     80
12    Manu    60   60   30   52   52     60
13    Arun    91   91   52   80   91     72
14    Manu    91   91   91   80   60     52

In [ ]:
import pandas as pd
read_marks = pd.read_excel("mark.xlsx")
read_marks["Total"] = read_marks["Math"] + read_marks["Phy"] + read_marks["Che"] + read_marks["Eng"] + read_marks["Bio"] + read_marks["Tamil"]
print(read_marks)
read_marks.to_excel("Updated_mark.xlsx",index=False)

      Name  Math  Phy  Che  Eng  Bio  Tamil  Total
0     Manu    72   72   72   72   30     72    390
1     Arun    30   30   60   30   30     60    240
2     Arun    52   52   60   80   52     60    356
3     Arun    52   52   72   52   30     80    338
4     Arun    60   60   80   52   91     60    403
5     Arun    80   80   52   52   72     30    366
6     Arun    80   80   60   80   72     52    424
7     Arun    52   52   80   72   72     52    380
8   Sanjay    72   72   52   72   60     72    400
9   Sanjay    72   72   72   72   52     52    392
10  Sanjay    52   52   80   80   52     60    376
11    Arun    60   60   72   72   60     80    404
12    Manu    60   60   30   52   52     60    314
13    Arun    91   91   52   80   91     72    477
14    Manu    91   91   91   80   60     52    465

In [ ]:
import pandas as pd
read_bank = pd.read_excel("bank_data.xlsx")
r_bank = read_bank[["Customer_ID", "Bank_Balance", "Credit", "EMI", "Insurance_Premium"]]
r_bank["Remaining_balance"] = r_bank["Bank_Balance"] + r_bank["Credit"] - r_bank["EMI"] - r_bank["Insurance_Premium"]
print(r_bank)
r_bank.to_excel("Balance_amount.xlsx",index=False)

    Customer_ID  Bank_Balance  Credit    EMI  Insurance_Premium  \
0             1         69801   65790  10924              18283
1             2          4828   53785  11902              26225
2             3          9525   70181  29153              44694
3             4         21483   59994  13425              32079
4             5         78228   99926  48807              35416
..          ...           ...     ...    ...                ...
95           96         30957   13341  20153               3210
96           97         82488   79555  48279              42492
97           98         93377     291  21766               6047
98           99         40403   43922  39873              49172
99          100         89592   93465  30179              28987

    Remaining_balance
0              106384
1               20486
2                5859
3               35973
4               93931
..                ...
95              20935
96              71272
97              65855
98              -4720
99             123891

[100 rows x 6 columns]

/tmp/ipython-input-1852246975.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_bank["Remaining_balance"] = r_bank["Bank_Balance"] + r_bank["Credit"] - r_bank["EMI"] - r_bank["Insurance_Premium"]

In [ ]:
import pandas as pd
r_sales = pd.read_excel("sales11.xlsx")
#print(r_sales)
my_sales = r_sales[["StoreID","ClosingTime","Month","CustomerID","ProductID","UnitPrice","Quantity","Profit_percentage"]]
#print(my_sales)
t_sort = my_sales.sort_values(by=["Month"])
print(t_sort)
d_sort = my_sales.sort_values(by="ClosingTime",ascending=False)
print(d_sort)
my_sales.info()
print(my_sales.size)
print(my_sales.shape)
print(my_sales.loc[[0,100,980]])
print(my_sales.iloc[6:16])
my_sales["Total"] = my_sales["UnitPrice"] * my_sales["Quantity"]

print(my_sales)
my_sales.to_excel("Updated_sales.xlsx",index=False)

     StoreID  ClosingTime  Month  CustomerID  ProductID  UnitPrice  Quantity  \
998     1300           22      1         306       0.49         65        78
986     1314           20      1         309      54.69        618         4
2       1315           23      1         301      50.22        489        49
680     1314           20      1         304      77.20        751        82
682     1301           20      1         304       9.83        435        47
..       ...          ...    ...         ...        ...        ...       ...
129     1314           20     12         314      92.21        763        37
561     1316           20     12         319      67.16        630        11
15      1306           20     12         312      85.56        792        61
993     1310           22     12         305      46.26        283        83
63      1319           20     12         318      59.18        415        25

     Profit_percentage
998                 10
986                 20
2                   25
680                 20
682                 25
..                 ...
129                 20
561                 20
15                  10
993                 25
63                  25

[1000 rows x 8 columns]
     StoreID  ClosingTime  Month  CustomerID  ProductID  UnitPrice  Quantity  \
977     1308           23      5         308      41.67         85        92
973     1310           23      9         309      98.56        567        66
971     1319           23      5         316      49.34         25        39
752     1313           23      8         316      68.41        289         9
746     1303           23      5         314      24.64        238        62
..       ...          ...    ...         ...        ...        ...       ...
985     1305           20      5         313      76.91        846        38
984     1308           20      6         306      91.86        598        28
981     1308           20      6         303      91.04        233        82
15      1306           20     12         312      85.56        792        61
13      1309           20      5         307      51.05        256        80

     Profit_percentage
977                 15
973                 10
971                 20
752                 15
746                 25
..                 ...
985                 10
984                 10
981                 10
15                  10
13                  10

[1000 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StoreID            1000 non-null   int64
 1   ClosingTime        1000 non-null   int64
 2   Month              1000 non-null   int64
 3   CustomerID         1000 non-null   int64
 4   ProductID          1000 non-null   float64
 5   UnitPrice          1000 non-null   int64
 6   Quantity           1000 non-null   int64
 7   Profit_percentage  1000 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 62.6 KB
8000
(1000, 8)
     StoreID  ClosingTime  Month  CustomerID  ProductID  UnitPrice  Quantity  \
0       1309           20      6         313      66.72        677        25
100     1311           21      2         317      60.92        955        34
980     1300           20      4         311      41.29        803        10

     Profit_percentage
0                   10
100                 20
980                 15
    StoreID  ClosingTime  Month  CustomerID  ProductID  UnitPrice  Quantity  \
6      1308           20      4         317      14.84        150        64
7      1301           22      5         317      83.41        143        87
8      1317           22      8         303      43.94        704        17
9      1303           23      4         311       3.11        937        46
10     1314           21      7         314      63.65        317        47
11     1316           23      1         305      35.44        495        56
12     1307           20      1         316       2.33         93        32
13     1309           20      5         307      51.05        256        80
14     1309           22      4         310      61.61        497        31
15     1306           20     12         312      85.56        792        61

    Profit_percentage
6                  25
7                  15
8                  10
9                  10
10                 25
11                 20
12                 15
13                 10
14                 15
15                 10
     StoreID  ClosingTime  Month  CustomerID  ProductID  UnitPrice  Quantity  \
0       1309           20      6         313      66.72        677        25
1       1305           22      3         315      21.77        666        47
2       1315           23      1         301      50.22        489        49
3       1316           21      4         310      45.33        307         6
4       1313           20      6         319      99.14        729        38
..       ...          ...    ...         ...        ...        ...       ...
995     1307           23     10         315      14.25        467        59
996     1306           21      6         308      52.23        468        98
997     1316           20      6         319      46.02        567        49
998     1300           22      1         306       0.49         65        78
999     1307           20      8         305       6.24        833        19

     Profit_percentage  Total
0                   10  16925
1                   10  31302
2                   25  23961
3                   10   1842
4                   10  27702
..                 ...    ...
995                 10  27553
996                 25  45864
997                 10  27783
998                 10   5070
999                 20  15827

[1000 rows x 9 columns]

/tmp/ipython-input-1065295219.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_sales["Total"] = my_sales["UnitPrice"] * my_sales["Quantity"]

In [ ]:
import pandas as pd
r_bbd = pd.read_excel("bodybuilding_data.xlsx")
r_col = r_bbd[["Age","Weight","Height","MuscleMass","TrainingExperience"]]
print(r_col.loc[[85,34,28]])
print('---------------------------------------------------------------')
print(r_col.iloc[45:61])
print('---------------------------------------------------------------')
sort_te = r_col.sort_values(by="TrainingExperience")
print(sort_te)
print('---------------------------------------------------------------')
desc_age = r_col.sort_values(by="Age",ascending=False)
print(desc_age)
r_col.to_excel("bb_data.xlsx",index=False)
sort_te.to_excel("sort_te.xlsx",index=False)
desc_age.to_csv("desc_age.csv",index=False)
#print(r_col)

    Age  Weight  Height  MuscleMass  TrainingExperience
85   34      65     183          81                   9
34   40     135     180          73                   7
28   29     132     173          64                   8
---------------------------------------------------------------
    Age  Weight  Height  MuscleMass  TrainingExperience
45   28     123     168          65                   8
46   27     145     163          54                  10
47   30     145     158          95                   8
48   59      56     182          49                   4
49   25      55     157          76                   3
50   56     128     165          51                  13
51   25     129     187          97                   9
52   28     100     190          39                   1
53   43     127     152          51                   4
54   51     148     160          33                   6
55   40     123     165          56                   9
56   55      75     158          74                  13
57   58     107     160          69                   6
58   49     137     158          90                  14
59   21      90     188          64                  11
60   53      98     194          80                   3
---------------------------------------------------------------
     Age  Weight  Height  MuscleMass  TrainingExperience
992   41     107     175          99                   1
999   56      79     176          95                   1
39    59      54     175          98                   1
43    24     115     197          78                   1
915   48      71     188          68                   1
..   ...     ...     ...         ...                 ...
539   23     115     174          56                  14
583   26     107     195          61                  14
952   51     100     197          94                  14
976   57     120     188          64                  14
547   35     104     168          74                  14

[1000 rows x 5 columns]
---------------------------------------------------------------
     Age  Weight  Height  MuscleMass  TrainingExperience
349   59      76     183          94                   6
457   59     111     160          80                  11
48    59      56     182          49                   4
39    59      54     175          98                   1
525   59     108     167          83                  13
..   ...     ...     ...         ...                 ...
132   18     108     159          90                   8
910   18      88     163          92                  11
494   18      56     180          85                   9
499   18      58     159          68                   2
935   18      88     177          30                   9

[1000 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel("mark.xlsx")
print(df)
a = df["Math"].to_numpy().flatten()#to convert excel columns into numpy array
b = df["Phy"].to_numpy().flatten()
c = df["Che"].to_numpy().flatten()
print("Math after modifying as numpy",a)
print("Phy after modifying as numpy",b)
print("Che after modifying as numpy",c)

      Name  Math  Phy  Che  Eng  Bio  Tamil
0     Manu    72   72   72   72   30     72
1     Arun    30   30   60   30   30     60
2     Arun    52   52   60   80   52     60
3     Arun    52   52   72   52   30     80
4     Arun    60   60   80   52   91     60
5     Arun    80   80   52   52   72     30
6     Arun    80   80   60   80   72     52
7     Arun    52   52   80   72   72     52
8   Sanjay    72   72   52   72   60     72
9   Sanjay    72   72   72   72   52     52
10  Sanjay    52   52   80   80   52     60
11    Arun    60   60   72   72   60     80
12    Manu    60   60   30   52   52     60
13    Arun    91   91   52   80   91     72
14    Manu    91   91   91   80   60     52
Math after modifying as numpy [72 30 52 52 60 80 80 52 72 72 52 60 60 91 91]
Phy after modifying as numpy [72 30 52 52 60 80 80 52 72 72 52 60 60 91 91]
Che after modifying as numpy [72 60 60 72 80 52 60 80 52 72 80 72 30 52 91]

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel("data.xlsx")
print(df)
a = df["X"].to_numpy().flatten()
b = df['Y'].to_numpy().flatten()
c = df['Z'].to_numpy().flatten()

# Perform operations
x1 = a + b
x2 = a - b
x3 = a / b
x4 = a * b
x5 = a % b
x6 = a ** b
frame={'X': a,'Y': b,'Z': c,'X+Y ': x1,'X-Y ': x2,'X/Y ': x3,'X*Y ': x4,}

result_df = pd.DataFrame(frame)
# Print the final DataFrame
print(result_df)

    X    Y    Z
0  45  125  220
1  81  126  234
2  99  109  284
3  94  113  201
4  43  166  297
5   3  164  279
6  69  187  216
7  95  148  211
8  75  161  231
9  84  127  273
    X    Y    Z  X+Y   X-Y       X/Y    X*Y
0  45  125  220   170   -80  0.360000   5625
1  81  126  234   207   -45  0.642857  10206
2  99  109  284   208   -10  0.908257  10791
3  94  113  201   207   -19  0.831858  10622
4  43  166  297   209  -123  0.259036   7138
5   3  164  279   167  -161  0.018293    492
6  69  187  216   256  -118  0.368984  12903
7  95  148  211   243   -53  0.641892  14060
8  75  161  231   236   -86  0.465839  12075
9  84  127  273   211   -43  0.661417  10668

In [ ]:
import pandas as pd
import numpy as np
r_sal = pd.read_excel("salary.xlsx")
#print(r_sal)
idn = r_sal["IDNumber"].to_numpy().flatten()
sal = r_sal["Salary"].to_numpy().flatten()
r_da = r_sal["DA"].to_numpy().flatten()
r_tax = r_sal["Tax"].to_numpy().flatten()
r_take_home = sal + r_da - r_tax
frame = {"IDNumber":idn,"Salary":sal,"DA":r_da,"Tax":r_tax,"Take_Home":r_take_home}
new = pd.DataFrame(frame)
print(new)
new.to_excel("Updated_sal.xlsx",index=False)

    IDNumber  Salary     DA    Tax  Take_Home
0        101   80000  50000  10000     120000
1        102   81000  45000  11000     115000
2        103   82000  54000  13000     123000
3        104   84000  56000  12000     128000
4        105   86000  43000  16000     113000
5        106   88000  42000  17000     113000
6        107   90000  54000  18000     126000
7        108   92000  45000  19000     118000
8        109   94000  34000  20000     108000
9        110   96000  43000  19000     120000
10       111   98000  42000  21000     119000
11       112  100000  50000  22000     128000

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel("stock_market.xlsx")
#print(df)
a = df["Company"].to_numpy().flatten()
b = df["Open_Price"].to_numpy().flatten()
c = df["Close_Price"].to_numpy().flatten()
d = b * 5 /100 + b
#print(d)
e = c * 5 /100 + c
f = c * 10 /100 + c
g = c * 15 /100 + c
frame = {"Company":a, "Open_Price":b, "5%_Open_Price":d, "Close_Price":c, "Close_Price_5%":e,"Close_Price_10%":f,"Close_Price_15%":g}
new = pd.DataFrame(frame)
print(new)
new.to_excel("Updated_Share_data.xlsx",index=False)

          Company  Open_Price  5%_Open_Price  Close_Price  Close_Price_5%  \
0        Reliance        1226        1287.30         1496         1570.80
1             TCS        1559        1636.95         1223         1284.15
2         Infosys         960        1008.00          971         1019.55
3       HDFC Bank        1394        1463.70         1787         1876.35
4      ICICI Bank        1230        1291.50          230          241.50
5             HUL        1195        1254.75         1785         1874.25
6             SBI        1824        1915.20         1432         1503.60
7   Bharti Airtel        1144        1201.20          869          912.45
8     Adani Green        1738        1824.90          443          465.15
9            ONGC         221         232.05         1615         1695.75
10          Wipro         566         594.30         1537         1613.85
11     Tata Steel        1338        1404.90          905          950.25
12         Maruti         430         451.50          485          509.25
13  Bajaj Finance        1582        1661.10         1315         1380.75
14           NTPC         187         196.35         1055         1107.75

    Close_Price_10%  Close_Price_15%
0            1645.6          1720.40
1            1345.3          1406.45
2            1068.1          1116.65
3            1965.7          2055.05
4             253.0           264.50
5            1963.5          2052.75
6            1575.2          1646.80
7             955.9           999.35
8             487.3           509.45
9            1776.5          1857.25
10           1690.7          1767.55
11            995.5          1040.75
12            533.5           557.75
13           1446.5          1512.25
14           1160.5          1213.25